body{
  background-color: #2196F3;
  font-family: "Microsoft JhengHei Light";
}
p{
  font-family: "Microsoft JhengHei Light";
  font-size: 90px;
  text-align: center;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:300px;
  background-color:#f1f1f1; 
  width: 100%;
}
li{
  color:#f1f1f1;
  display:inline;
}
li a{
  display:block;
  width: 100px;
  background-color: #555;
  color: white;
  padding: 8px 10px 8px 10px;
  display:inline
}
a:link {
    text-decoration: none;
    
}

a:visited {
    text-decoration: none;
   
}

a:hover {
    text-decoration: none;
    color: #F44336;
    
}

a:active {
    text-decoration: underline;
}
