*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #FFF;
  font-family: "Microsoft JhengHei Light";
}
p{
  font-family: "Microsoft JhengHei Light";
  font-size: 90px;
  text-align: center;
}
ul{
  list-style-type: none;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  overflow: hidden;
}
li{
  color:#f3f3f3;
  float: left;
}
li a{
  display:block;
  background-color: #333;
  color: white;
  display:inline-block;
  text-align: center;
  padding: 14px 16px; 
  
}
a:link {
    text-decoration: none;
    
}

a:visited {
    text-decoration: none;
   
}

a:hover {
    text-decoration: none;
    color: #F44336;
    
}

a:active {
    text-decoration: underline;
}
